* {
  box-sizing: border-box;
}

body {
  background: url('../images/background.svg') center no-repeat;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
}

.main {
  display: grid;
}

.block {
  display: flex;
  width: 200px;
  height: 200px;
}

.block-1 {
  background: red;
}

.block-2 {
  background: white;
}

.block-3 {
  background: blue;
}

.block-4 {
  background: #cccccc;
}

.image img {
  object-fit: cover;
}

#fullpage {
  // height: auto !important;
  background: url('../images/background.svg') no-repeat center/cover;
}

 input {
    width: 100%;
    padding: 10px;
    border-radius: 37.5px;
    background: #FFFFFF;
    border: none;
 }

a {
  text-decoration: none;
} 

::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: rgba(0, 0, 0, 0.2);
}