* {
  box-sizing: border-box;
}

body {
  background: $green;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: grid;
}

.block {
  display: flex;
  width: 200px;
  height: 200px;
}

.block-1 {
  background: red;
}

.block-2 {
  background: white;
}

.block-3 {
  background: blue;
}

.block-4 {
  background: #cccccc;
}

.image img {
  object-fit: cover;
}

#fullpage {
  height: auto !important;
  background: url('../images/background.svg') no-repeat center/cover;
}