extends layout/layout.pug

block content
  #fullpage
    .section
      | section 1
    .section
      form.form
        .form__title
          | Регистрация
        .form__name
          input(name="name").autocomplete
        .form__words
          input(type="text" name="field1" placeholder="Умный")
          input(type="text" name="field2" placeholder="Сильный")
          input(type="text" name="field3" placeholder="Красивый")
    .section
      | section 3
    .section
      | section 4