extends layout/layout.pug

block content
  #fullpage
    .section
      .container
        .header
          .header-hello
            | <b>Привет!</b>
          .header-description 
            | Совсем скоро состоится одно из самых ярких событий <br>этого лета – <b>День компании.</b> <br>
            | Лучшие сотрудники региона соберутся вместе, чтобы принять <br>участие в <b>разБЛОКировке</b> Южного региона. <br>
          .header-more
            | Узнай больше о блоках компании и взгляни на Билайн по-новому! <br>
            | До встречи.
    .section
     .container-form
       form.form
        .form__title
          | Регистрация
        .form__name
          input(name="name" placeholder="Введите ФИО").autocomplete
        button(type="button").continue  
          | продолжить
        .form__words-title
          | Опиши себя тремя словами  
        .form__words
          input(type="text" name="field1" placeholder="Умный")
          input(type="text" name="field2" placeholder="Сильный")
          input(type="text" name="field3" placeholder="Красивый")
        button.coming 
          | я приду 
    .section
      .container
        .welcome-wrapper
          .info-wrapper
            .location-info
              | Мы ждем тебя <b>29 Августа</b>
            .location-time 
              | Сбор гостей с <b>17 00 - 18 00*</b> 
            .adress
              | Адрес <b>ул. Шолохова  316, развлекательный комплекс Старый город**</b>  
            .info-mini1
              | *пропуск гостей на территорию осуществляется ровно в 17.00 
            .info-mini2
              | **все подробности о трансфере на мероприятие вы узнаете в отдельном письме
       
          .map   
            img.map-img(src='../src/images/map.jpeg')
            
    .section
      .container
        .contact-wrapper
          .contacts
            | При возникновении вопросов <br>
            | вы можете обратиться: <br>
            | <b>Мария Гурьева</b> <br>
            | E-mail: mvgureva@rnd.beeline.ru <br>
            | Тел.: +7 961 274 50 63  